# Data Analytics using Python

## Web scraping with BeautifulSoup: Coronavirus Data

This Notebook performs web scraping with BeautifulSoup, converting the extracted data into a CSV file, and construct a Pandas DataFrame.

In this scenario, you work as a data analyst at a health insurance company. To provide up-to-date information for the executive, claims department, and clients, you are tasked with gathering the latest data on worldwide COVID-19 cases. 

Each department requires different information. For each continent on the list:
The executive needs to know:
- Total cases
- Total deaths

Claims needs to know:
- New cases
- New deaths
- Active cases
- Serious, Critical

Clients need to know:
- Total cases
- Total recovered
- Newly recovered

# 1. Establish Connection

In [1]:
# import libraries
import pandas as pd
import requests 
from bs4 import BeautifulSoup

# Create a variable to save the URL.
url = 'https://www.worldometers.info/coronavirus/'

# Specify the URL and request with get().
r = requests.get(url)

# detetmine connection 
if r.status_code == 200:
    html_doc = r.text
    
# view data
print(r)

<Response [200]>

# 2. Extract data from the website

In [2]:
# create Beautiful Soup Object
soup = BeautifulSoup(html_doc)

# Print Output
print(soup.prettify())

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
 <!--<![endif]-->
 <head>
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <title>
   COVID - Coronavirus Statistics - Worldometer
  </title>
  <meta content="Daily and weekly updated statistics tracking the number of COVID-19 cases, recovered, and deaths. Historical data with cumulative charts, graphs, and updates." name="description"/>
  <!-- Favicon -->
  <link href="/favicon/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  <link href="/favicon/apple-icon-57x57.png" rel="apple-touch-icon" sizes="57x57"/>
  <link href="/favicon/apple-icon-60x60.png" rel="apple-touch-icon" sizes="60x60"/>
  <link href="/favicon/apple-icon-72x72.png" rel="apple-touch-icon" sizes="72x72"/>
  <link href="/favicon/apple-icon-76x76.png" rel="apple-touch-icon" sizes="76x76"/>
  <link href="/favicon/apple-icon-114x114.png" rel="apple-touch-icon" sizes="114x114"/>
  <link href="/favicon/apple-icon-120x120.png" rel="apple-touch-icon" sizes="120x120"/>
  <link href="/favicon/apple-icon-144x144.png" rel="apple-touch-icon" sizes="144x144"/>
  <link href="/favicon/apple-icon-152x152.png" rel="apple-touch-icon" sizes="152x152"/>
  <link href="/favicon/apple-icon-180x180.png" rel="apple-touch-icon" sizes="180x180"/>
  <link href="/favicon/android-icon-192x192.png" rel="icon" sizes="192x192" type="image/png"/>
  <link href="/favicon/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"/>
  <link href="/favicon/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png"/>
  <link href="/favicon/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png"/>
  <link href="/favicon/manifest.json" rel="manifest"/>
  <meta content="#ffffff" name="msapplication-TileColor"/>
  <meta content="/favicon/ms-icon-144x144.png" name="msapplication-TileImage"/>
  <meta content="#ffffff" name="theme-color"/>
  <!-- og image -->
  <meta content="http://www.worldometers.info/img/worldometers-fb.jpg" property="og:image"/>
  <!-- Bootstrap -->
  <link href="/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="/wm16.css" rel="stylesheet"/>
  <!-- font awesome -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->
  <script src="/js/jquery.min.js">
  </script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/js/bootstrap.min.js">
  </script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="/js/ie10-viewport-bug-workaround.js">
  </script>
  <!-- tables
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/bs-3.3.5/dt-1.10.10,fh-3.1.0,r-2.0.0/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/s/bs-3.3.5/dt-1.10.10,fh-3.1.0,r-2.0.0/datatables.min.js"></script>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/dt/dt-1.10.10,r-2.0.0/datatables.min.css"/>

<script type="text/javascript" src="https://cdn.datatables.net/s/dt/dt-1.10.10,r-2.0.0/datatables.min.js"></script>
 -->
  <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript">
  </script>
  <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js" type="text/javascript">
  </script>
  <script class="init" type="text/javascript">
   $.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#example2').dataTable( {
        "scrollCollapse": true,
		"sDom": '<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
  </script>
  <script class="init" type="text/javascript">
   $.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#table3').dataTable( {
        "scrollCollapse": true,
				 "order": [[ 1, 'desc' ]],
		"sDom": '<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
  </script>
  <script class="init" type="text/javascript">
   $.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#example').dataTable( {
        "scrollCollapse": true,
		"searching": false,

		"sDom": '<"top">rt<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
  </script>
  <script class="init" type="text/javascript">
   $(document).ready(function() {
	$('#popbycountry').dataTable();
} );
  </script>
  <!-- FREESTAR -->
  <script data-cfasync="false" type="text/javascript">
   var freestar = freestar || {};
  freestar.hitTime = Date.now();
  freestar.queue = freestar.queue || [];
  freestar.config = freestar.config || {};
  freestar.debug = window.location.search.indexOf('fsdebug') === -1 ? false : true;
  freestar.config.enabled_slots = [];
  !function(a,b){var c=b.getElementsByTagName("script")[0],d=b.createElement("script"),e="https://a.pub.network/worldometers-info";e+=freestar.debug?"/qa/pubfig.min.js":"/pubfig.min.js",d.async=!0,d.src=e,c.parentNode.insertBefore(d,c)}(window,document);
  </script>
 </head>
 <body>
  <!-- Google tag (gtag.js) -->
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=G-ZDP3BFSX60">
  </script>
  <script>
   window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ZDP3BFSX60');
  </script>
  <!-- Quantcast Choice. Consent Manager Tag v2.0 (for TCF 2.0) -->
  <!--
<script type="text/javascript" async=true>
(function() {
  var host = 'worldometers.info';
  var element = document.createElement('script');
  var firstScript = document.getElementsByTagName('script')[0];
  var url = 'https://quantcast.mgr.consensu.org'
    .concat('/choice/', 'Pd9JxUkvV0m7q', '/', host, '/choice.js');
  var uspTries = 0;
  var uspTriesLimit = 3;
  element.async = true;
  element.type = 'text/javascript';
  element.src = url;

  firstScript.parentNode.insertBefore(element, firstScript);

  function makeStub() {
    var TCF_LOCATOR_NAME = '__tcfapiLocator';
    var queue = [];
    var win = window;
    var cmpFrame;

    function addFrame() {
      var doc = win.document;
      var otherCMP = !!(win.frames[TCF_LOCATOR_NAME]);

      if (!otherCMP) {
        if (doc.body) {
          var iframe = doc.createElement('iframe');

          iframe.style.cssText = 'display:none';
          iframe.name = TCF_LOCATOR_NAME;
          doc.body.appendChild(iframe);
        } else {
          setTimeout(addFrame, 5);
        }
      }
      return !otherCMP;
    }

    function tcfAPIHandler() {
      var gdprApplies;
      var args = arguments;

      if (!args.length) {
        return queue;
      } else if (args[0] === 'setGdprApplies') {
        if (
          args.length > 3 &&
          args[2] === 2 &&
          typeof args[3] === 'boolean'
        ) {
          gdprApplies = args[3];
          if (typeof args[2] === 'function') {
            args[2]('set', true);
          }
        }
      } else if (args[0] === 'ping') {
        var retr = {
          gdprApplies: gdprApplies,
          cmpLoaded: false,
          cmpStatus: 'stub'
        };

        if (typeof args[2] === 'function') {
          args[2](retr);
        }
      } else {
        queue.push(args);
      }
    }

    function postMessageEventHandler(event) {
      var msgIsString = typeof event.data === 'string';
      var json = {};

      try {
        if (msgIsString) {
          json = JSON.parse(event.data);
        } else {
          json = event.data;
        }
      } catch (ignore) {}

      var payload = json.__tcfapiCall;

      if (payload) {
        window.__tcfapi(
          payload.command,
          payload.version,
          function(retValue, success) {
            var returnMsg = {
              __tcfapiReturn: {
                returnValue: retValue,
                success: success,
                callId: payload.callId
              }
            };
            if (msgIsString) {
              returnMsg = JSON.stringify(returnMsg);
            }
            event.source.postMessage(returnMsg, '*');
          },
          payload.parameter
        );
      }
    }

    while (win) {
      try {
        if (win.frames[TCF_LOCATOR_NAME]) {
          cmpFrame = win;
          break;
        }
      } catch (ignore) {}

      if (win === window.top) {
        break;
      }
      win = win.parent;
    }
    if (!cmpFrame) {
      addFrame();
      win.__tcfapi = tcfAPIHandler;
      win.addEventListener('message', postMessageEventHandler, false);
    }
  };

  makeStub();

  var uspStubFunction = function() {
    var arg = arguments;
    if (typeof window.__uspapi !== uspStubFunction) {
      setTimeout(function() {
        if (typeof window.__uspapi !== 'undefined') {
          window.__uspapi.apply(window.__uspapi, arg);
        }
      }, 500);
    }
  };

  var checkIfUspIsReady = function() {
    uspTries++;
    if (window.__uspapi === uspStubFunction && uspTries < uspTriesLimit) {
      console.warn('USP is not accessible');
    } else {
      clearInterval(uspInterval);
    }
  };

  if (typeof window.__uspapi === 'undefined') {
    window.__uspapi = uspStubFunction;
    var uspInterval = setInterval(checkIfUspIsReady, 6000);
  }
})();
</script>
-->
  <!-- End Quantcast Choice. Consent Manager Tag v2.0 (for TCF 2.0) -->
  <script>
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-1438574-2', 'auto');
  ga('send', 'pageview');
  </script>
  <!-- GA wm old (info) -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-1438574-30">
  </script>
  <script>
   window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-1438574-30');
  </script>
  <!-- GDPR consent -->
  <link href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" rel="stylesheet" type="text/css"/>
  <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js">
  </script>
  <script>
   window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#efefef",
      "text": "#404040"
    },
    "button": {
      "background": "#8ec760",
      "text": "#ffffff"
    }
  },
  "theme": "classic",
  "content": {
    "href": "http://www.worldometers.info/policy/"
  }
})});
  </script>
  <script async="" nonce="eyzjLrThUdsTFTM9ut3Zfw" src="https://fundingchoicesmessages.google.com/i/pub-5623990215101516?ers=1">
  </script>
  <script nonce="eyzjLrThUdsTFTM9ut3Zfw">
   (function() {function signalGooglefcPresent() {if (!window.frames['googlefcPresent']) {if (document.body) {const iframe = document.createElement('iframe'); iframe.style = 'width: 0; height: 0; border: none; z-index: -1000; left: -1000px; top: -1000px;'; iframe.style.display = 'none'; iframe.name = 'googlefcPresent'; document.body.appendChild(iframe);} else {setTimeout(signalGooglefcPresent, 0);}}}signalGooglefcPresent();})();
  </script>
  <style type="text/css">
   .style1 {
        color: #666666
    }
  </style>
  <div class="navbar navbar-default">
   <div class="container">
    <div class="navbar-header">
     <div class="logo">
      <a class="navbar-brand" href="/">
       <img border="0" src="/img/worldometers-logo.gif" title="Worldometer"/>
      </a>
     </div>
     <button class="navbar-toggle" data-target="#navbar-main" data-toggle="collapse" type="button">
      <span class="icon-bar">
      </span>
      <span class="icon-bar">
      </span>
      <span class="icon-bar">
      </span>
     </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
     <ul class="nav navbar-nav">
      <li>
       <a href="/coronavirus/">
        Coronavirus
       </a>
      </li>
      <li>
       <a href="/population/">
        Population
       </a>
      </li>
     </ul>
    </div>
   </div>
  </div>
  <!-- MAIN -->
  <div class="container">
   <!-- TOP AD -->
   <div class="row">
    <div style="text-align:left; margin-bottom:10px">
     <script async="" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
     </script>
     <!-- wm_top970 -->
     <ins class="adsbygoogle" data-ad-client="ca-pub-3701697624350410" data-ad-slot="3287840995" style="display:inline-block;width:970px;height:90px">
     </ins>
     <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
     </script>
    </div>
   </div>
   <!-- TOP AD -->
   <!-- MAIN  -->
   <!-- CENTER -->
   <div class="row">
    <div class="col-md-8">
     <!-- *** CONTENT A *** -->
     <div class="content-inner">
      <style>
       .number-table {
        font-size: 20px;
        font-weight: bold
    }

    .number-table-main {
        font-size: 24px;
        font-weight: bold
    }
      </style>
      <!-- charts -->
      <script src="/js/highcharts.js">
      </script>
      <style type="text/css">
       .source {}

    .style2 {
        color: #FF0000
    }

    .style4 {
        color: #FF0000;
        font-weight: bold;
    }

    .style6 {
        font-size: 12px;
        color: #bbb;
        font-weight: bold;
    }

    .source1 {
        font-size: 12px;
        color: #bbb;
    }

    .source1 {
        font-size: 12px;
        color: #bbb;
    }

    .source11 {
        font-size: 12px;
        color: #bbb;
    }

    .source111 {}

    .source1111 {
        font-size: 12px;
        color: #bbb;
    }


    .new_badge {

        position: absolute;
        font-size: 12px;
        top: -5px;
        right: -26px;
        background-color: #8ACA2B;
        color: white;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-radius: 4px;
        ;
    }

    .new_badge_link {

        background-color: #8ACA2B;
        color: white !important;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-radius: 4px;
        ;
    }
      </style>
      <div class="label-counter" id="page-top">
       COVID-19 Coronavirus Pandemic
      </div>
      <div style="font-size:13px; color:#999; margin-top:5px; text-align:center">
       Last updated: December 29, 2023, 19:42 GMT
      </div>
      <div style="margin-top:20px; text-align:center; font-size:14px">
       <a class="new_badge_link" href="/coronavirus/weekly-trends/" style="display: inline-block; position:relative;">
        Weekly Trends
       </a>
       -
       <a href="/coronavirus/worldwide-graphs/">
        Graphs
       </a>
       -
       <a href="#countries">
        Countries
       </a>
       -
       <a href="#news">
        News
       </a>
      </div>
      <div id="maincounter-wrap" style="margin-top:15px">
       <h1>
        Coronavirus Cases:
       </h1>
       <div class="maincounter-number">
        <span style="color:#aaa">
         700,616,627
        </span>
       </div>
      </div>
      <div style="text-align:center ">
       <a href="#countries">
        view by country
       </a>
      </div>
      <div id="maincounter-wrap" style="margin-top:15px">
       <h1>
        Deaths:
       </h1>
       <div class="maincounter-number">
        <span>
         6,961,860
        </span>
       </div>
      </div>
      <div id="maincounter-wrap" style="margin-top:15px;">
       <h1>
        Recovered:
       </h1>
       <div class="maincounter-number" style="color:#8ACA2B ">
        <span>
         671,780,174
        </span>
       </div>
      </div>
      <div style="margin-top:50px;">
      </div>
      <!-- START -->
      <style>
       .panel_flip {
        position: relative;
        height: 100%;
    }

    .panel_front {

        height: inherit;
        position: absolute;
        top: 0;
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .panel_back {

        height: inherit;
        position: absolute;
        top: 0;
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .panel_flip.flip .panel_front {

        z-index: 900;
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
    }

    .panel_flip.flip .panel_back {

        z-index: 1000;
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
    }

    .collapse_button {

        position: absolute;
        right: 10px;
        pointer-events: none;
        color: #70757a !important;
        height: 24px;
        width: 24px;
        line-height: 24px;
    }

    .collapse_button svg {
        display: block;
        height: 100%;
        width: 100%;
        fill: currentColor;
    }

    .rotate_180 {

        transform: rotate(180deg);
    }

    .panel_clickable {

        cursor: pointer;
    }
      </style>
      <script>
       var do_not_slide = false;
    $(function() {

        $('.flip_cases_front').on('click', function() {


            $(this).parent().parent().addClass('flip');
        });

        $('.flip_cases_back').on('click', function() {


            $(this).parent().parent().removeClass('flip');
        });


        $('.collapse').on('show.bs.collapse', function(el) {


            var collapse_button = $(el.target).parent().find('.collapse_button');
            collapse_button.addClass('rotate_180');

            if (do_not_slide) {

                return;
            }

            do_not_slide = true;
            if ($(el.target).attr('id') == 'panel_active') {

                $('#panel_closed').collapse('show');
            } else {

                $('#panel_active').collapse('show');
            }

            do_not_slide = false;
        });

        $('.collapse').on('hide.bs.collapse', function(el) {

            var collapse_button = $(el.target).parent().find('.collapse_button');
            collapse_button.removeClass('rotate_180');


            if (do_not_slide) {

                return;
            }


            do_not_slide = true;
            if ($(el.target).attr('id') == 'panel_active') {


# 3. Extract data from the table

In [3]:
# Find the table elements 
table = soup.find('table', attrs={'id': 'main_table_countries_today'})

# Show all the tables
table

<table class="table table-bordered table-hover main_table_countries" id="main_table_countries_today" style="width:100%;margin-top: 0px !important;display:none;">
<thead>
<tr>
<th width="1%">#</th>
<th width="100">Country,<br/>Other</th>
<th width="20">Total<br/>Cases</th>
<th width="30">New<br/>Cases</th>
<th width="30">Total<br/>Deaths</th>
<th width="30">New<br/>Deaths</th>
<th width="30">Total<br/>Recovered</th>
<th width="30">New<br/>Recovered</th>
<th width="30">Active<br/>Cases</th>
<th width="30">Serious,<br/>Critical</th>
<th width="30">Tot Cases/<br/>1M pop</th>
<th width="30">Deaths/<br/>1M pop</th>
<th width="30">Total<br/>Tests</th>
<th width="30">Tests/<br/>
<nobr>1M pop</nobr>
</th>
<th width="30">Population</th>
<th style="display:none" width="30">Continent</th>
<th width="30">1 Case<br/>every X ppl</th><th width="30">1 Death<br/>every X ppl</th><th width="30">1 Test<br/>every X ppl</th>
<th width="30">New Cases/1M pop</th>
<th width="30">New Deaths/1M pop</th>
<th width="30">Active Cases/1M pop</th>
</tr>
</thead>
<tbody>
<tr class="total_row_world row_continent" data-continent="North America" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>North America</nobr>
</td>
<td>130,033,828</td>
<td></td>
<td>1,664,163</td>
<td></td>
<td>125,567,874</td>
<td>+1,603</td>
<td>2,801,791</td>
<td>6,940</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="North America" style="display:none;">North America</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="Asia" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Asia</nobr>
</td>
<td>221,098,343</td>
<td>+836</td>
<td>1,552,316</td>
<td>+5</td>
<td>205,263,729</td>
<td>+8,590</td>
<td>14,282,298</td>
<td>14,731</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Asia" style="display:none;">Asia</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="Europe" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Europe</nobr>
</td>
<td>252,470,191</td>
<td>+4,518</td>
<td>2,090,435</td>
<td>+44</td>
<td>247,756,846</td>
<td>+6,608</td>
<td>2,622,910</td>
<td>4,738</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Europe" style="display:none;">Europe</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="South America" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>South America</nobr>
</td>
<td>69,452,154</td>
<td></td>
<td>1,364,096</td>
<td></td>
<td>66,581,324</td>
<td></td>
<td>1,506,734</td>
<td>8,953</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="South America" style="display:none;">South America</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="Australia/Oceania" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Oceania</nobr>
</td>
<td>14,704,370</td>
<td>+1,747</td>
<td>31,961</td>
<td></td>
<td>14,519,868</td>
<td></td>
<td>152,541</td>
<td>50</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Australia/Oceania" style="display:none;">Australia/Oceania</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="Africa" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Africa</nobr>
</td>
<td>12,857,020</td>
<td></td>
<td>258,874</td>
<td></td>
<td>12,089,827</td>
<td></td>
<td>508,319</td>
<td>542</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Africa" style="display:none;">Africa</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr></nobr>
</td>
<td>721</td>
<td></td>
<td>15</td>
<td></td>
<td>706</td>
<td></td>
<td>0</td>
<td>0</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="" style="display:none;"></td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world">
<td></td>
<td style="text-align:left;">World</td>
<td>700,616,627</td>
<td>+7,101</td>
<td>6,961,860</td>
<td>+49</td>
<td>671,780,174</td>
<td>+16,801</td>
<td>21,874,593</td>
<td>35,954</td>
<td>89,883</td>
<td>893.1</td>
<td></td>
<td></td>
<td></td>
<td data-continent="all" style="display:none">All</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">1</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/us/">USA</a></td>
<td style="font-weight: bold; text-align:right">110,082,490</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">1,190,137                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">107,858,128</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">1,034,225</td>
<td style="font-weight: bold; text-align:right">1,785</td>
<td style="font-weight: bold; text-align:right">328,796</td>
<td style="font-weight: bold; text-align:right">3,555</td>
<td style="font-weight: bold; text-align:right">1,186,546,440</td>
<td style="font-weight: bold; text-align:right">3,543,990</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/us-population/">334,805,269</a> </td>
<td data-continent="North America" style="display:none">North America</td>
<!-- 1 Case/Death/Test every X -->
<td>3</td><td>281</td><td>0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">3,089</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">2</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/india/">India</a></td>
<td style="font-weight: bold; text-align:right">45,009,660</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">533,337                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right;">N/A</td>
<td style="text-align:right;font-weight:bold;">N/A</td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right">31,998</td>
<td style="font-weight: bold; text-align:right">379</td>
<td style="font-weight: bold; text-align:right">930,797,975</td>
<td style="font-weight: bold; text-align:right">661,721</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/india-population/">1,406,631,776</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<!-- 1 Case/Death/Test every X -->
<td>31</td><td>2,637</td><td>2</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">3</td>
</tr>
<tr style="background-color:#F0F0F0">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">3</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/france/">France</a></td>
<td style="font-weight: bold; text-align:right">40,138,560</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">167,642                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right"><span style="color:grey; font-style: italic;">39,970,918</span></td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">612,013</td>
<td style="font-weight: bold; text-align:right">2,556</td>
<td style="font-weight: bold; text-align:right">271,490,188</td>
<td style="font-weight: bold; text-align:right">4,139,547</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/france-population/">65,584,518</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<!-- 1 Case/Death/Test every X -->
<td>2</td><td>391</td><td>0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">4</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/germany/">Germany</a></td>
<td style="font-weight: bold; text-align:right">38,758,005</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">179,937                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">38,240,600</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">337,468</td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right">462,045</td>
<td style="font-weight: bold; text-align:right">2,145</td>
<td style="font-weight: bold; text-align:right">122,332,384</td>
<td style="font-weight: bold; text-align:right">1,458,359</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/germany-population/">83,883,596</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<!-- 1 Case/Death/Test every X -->
<td>2</td><td>466</td><td>1</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">4,023</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">5</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/brazil/">Brazil</a></td>
<td style="font-weight: bold; text-align:right">38,177,375</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">708,491                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">36,249,161</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">1,219,723</td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right">177,278</td>
<td style="font-weight: bold; text-align:right">3,290</td>
<td style="font-weight: bold; text-align:right">63,776,166</td>
<td style="font-weight: bold; text-align:right">296,146</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/brazil-population/">215,353,593</a> </td>
<td data-continent="South America" style="display:none">South America</td>
<!-- 1 Case/Death/Test every X -->
<td>6</td><td>304</td><td>3</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">5,664</td>
</tr>
<tr style="background-color:#F0F0F0">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">6</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/south-korea/">S. Korea</a></td>
<td style="font-weight: bold; text-align:right">34,571,873</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">35,934                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right"><span style="color:grey; font-style: italic;">34,535,939</span></td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">673,523</td>
<td style="font-weight: bold; text-align:right">700</td>
<td style="font-weight: bold; text-align:right">15,804,065</td>
<td style="font-weight: bold; text-align:right">307,892</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/south-korea-population/">51,329,899</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<!-- 1 Case/Death/Test every X -->
<td>1</td><td>1,428</td><td>3</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">7</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/japan/">Japan</a></td>
<td style="font-weight: bold; text-align:right">33,803,572</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">74,694                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right;">N/A</td>
<td style="text-align:right;font-weight:bold;">N/A</td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right">269,169</td>
<td style="font-weight: bold; text-align:right">595</td>
<td style="font-weight: bold; text-align:right">100,414,883</td>
<td style="font-weight: bold; text-align:right">799,578</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/japan-population/">125,584,838</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<!-- 1 Case/Death/Test every X -->
<td>4</td><td>1,681</td><td>1</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">95,582</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">8</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/italy/">Italy</a></td>
<td style="font-weight: bold; text-align:right">26,591,441</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">194,489                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">26,162,862</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">234,090</td>
<td style="font-weight: bold; text-align:right">240</td>
<td style="font-weight: bold; text-align:right">441,258</td>
<td style="font-weight: bold; text-align:right">3,227</td>
<td style="font-weight: bold; text-align:right">278,771,518</td>
<td style="font-weight: bold; text-align:right">4,625,933</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/italy-population/">60,262,770</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<!-- 1 Case/Death/Test every X -->
<td>2</td><td>310</td><td>0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">3,884</td>
</tr>
<tr style="background-color:#F0F0F0">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">9</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/uk/">UK</a></td>
<td style="font-weight: bold; text-align:right">24,812,582</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">232,112                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right"><span style="color:grey; font-style: italic;">24,580,470</span></td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">0</td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right">362,239</td>
<td style="font-weight: bold; text-align:right">3,389</td>
<td style="font-weight: bold; text-align:right">522,526,476</td>
<td style="font-weight: bold; text-align:right">7,628,357</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/uk-population/">68,497,907</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<!-- 1 Case/Death/Test every X -->
<td>3</td><td>295</td><td>0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">10</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/russia/">Russia</a></td>
<td style="font-weight: bold; text-align:right">23,713,738</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">401,214                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">23,068,286</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">244,238</td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right">162,639</td>
<td style="font-weight: bold; text-align:right">2,752</td>
<td style="font-weight: bold; text-align:right">273,400,000</td>
<td style="font-weight: bold; text-align:right">1,875,095</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/russia-population/">145,805,947</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<!-- 1 Case/Death/Test every X -->
<td>6</td><td>363</td><td>1</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">1,675</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">11</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/turkey/">Turkey</a></td>

# 4. Extract Table Headers

In [4]:
# Specify BeautifulSoup to go through the table and find everything 
# with a tr tag.
# Note: th = (table header), tr = (table row), and td = table column
rows = table.find_all('tr', attrs={'style': ""})

# View the result.
rows

[<tr>
 <th width="1%">#</th>
 <th width="100">Country,<br/>Other</th>
 <th width="20">Total<br/>Cases</th>
 <th width="30">New<br/>Cases</th>
 <th width="30">Total<br/>Deaths</th>
 <th width="30">New<br/>Deaths</th>
 <th width="30">Total<br/>Recovered</th>
 <th width="30">New<br/>Recovered</th>
 <th width="30">Active<br/>Cases</th>
 <th width="30">Serious,<br/>Critical</th>
 <th width="30">Tot Cases/<br/>1M pop</th>
 <th width="30">Deaths/<br/>1M pop</th>
 <th width="30">Total<br/>Tests</th>
 <th width="30">Tests/<br/>
 <nobr>1M pop</nobr>
 </th>
 <th width="30">Population</th>
 <th style="display:none" width="30">Continent</th>
 <th width="30">1 Case<br/>every X ppl</th><th width="30">1 Death<br/>every X ppl</th><th width="30">1 Test<br/>every X ppl</th>
 <th width="30">New Cases/1M pop</th>
 <th width="30">New Deaths/1M pop</th>
 <th width="30">Active Cases/1M pop</th>
 </tr>,
 <tr class="total_row_world">
 <td></td>
 <td style="text-align:left;">World</td>
 <td>700,616,627</td>
 <td>+7,101</td>
 <td>6,961,860</td>
 <td>+49</td>
 <td>671,780,174</td>
 <td>+16,801</td>
 <td>21,874,593</td>
 <td>35,954</td>
 <td>89,883</td>
 <td>893.1</td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="all" style="display:none">All</td>
 <!-- 1 Case every X -->
 <td>
 </td>
 <!-- 1 Death every X -->
 <td></td>
 <!-- 1 test every X -->
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">1</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/us/">USA</a></td>
 <td style="font-weight: bold; text-align:right">110,082,490</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">1,190,137                                </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">107,858,128</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">1,034,225</td>
 <td style="font-weight: bold; text-align:right">1,785</td>
 <td style="font-weight: bold; text-align:right">328,796</td>
 <td style="font-weight: bold; text-align:right">3,555</td>
 <td style="font-weight: bold; text-align:right">1,186,546,440</td>
 <td style="font-weight: bold; text-align:right">3,543,990</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/us-population/">334,805,269</a> </td>
 <td data-continent="North America" style="display:none">North America</td>
 <!-- 1 Case/Death/Test every X -->
 <td>3</td><td>281</td><td>0</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">3,089</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">2</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/india/">India</a></td>
 <td style="font-weight: bold; text-align:right">45,009,660</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">533,337                                </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">N/A</td>
 <td style="font-weight: bold; text-align:right;">N/A</td>
 <td style="text-align:right;font-weight:bold;">N/A</td>
 <td style="font-weight: bold; text-align:right">N/A</td>
 <td style="font-weight: bold; text-align:right">31,998</td>
 <td style="font-weight: bold; text-align:right">379</td>
 <td style="font-weight: bold; text-align:right">930,797,975</td>
 <td style="font-weight: bold; text-align:right">661,721</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/india-population/">1,406,631,776</a> </td>
 <td data-continent="Asia" style="display:none">Asia</td>
 <!-- 1 Case/Death/Test every X -->
 <td>31</td><td>2,637</td><td>2</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">3</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">4</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/germany/">Germany</a></td>
 <td style="font-weight: bold; text-align:right">38,758,005</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">179,937                                </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">38,240,600</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">337,468</td>
 <td style="font-weight: bold; text-align:right">N/A</td>
 <td style="font-weight: bold; text-align:right">462,045</td>
 <td style="font-weight: bold; text-align:right">2,145</td>
 <td style="font-weight: bold; text-align:right">122,332,384</td>
 <td style="font-weight: bold; text-align:right">1,458,359</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/germany-population/">83,883,596</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 <!-- 1 Case/Death/Test every X -->
 <td>2</td><td>466</td><td>1</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">4,023</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">5</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/brazil/">Brazil</a></td>
 <td style="font-weight: bold; text-align:right">38,177,375</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">708,491                                </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">36,249,161</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">1,219,723</td>
 <td style="font-weight: bold; text-align:right">N/A</td>
 <td style="font-weight: bold; text-align:right">177,278</td>
 <td style="font-weight: bold; text-align:right">3,290</td>
 <td style="font-weight: bold; text-align:right">63,776,166</td>
 <td style="font-weight: bold; text-align:right">296,146</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/brazil-population/">215,353,593</a> </td>
 <td data-continent="South America" style="display:none">South America</td>
 <!-- 1 Case/Death/Test every X -->
 <td>6</td><td>304</td><td>3</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">5,664</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">7</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/japan/">Japan</a></td>
 <td style="font-weight: bold; text-align:right">33,803,572</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">74,694                                </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">N/A</td>
 <td style="font-weight: bold; text-align:right;">N/A</td>
 <td style="text-align:right;font-weight:bold;">N/A</td>
 <td style="font-weight: bold; text-align:right">N/A</td>
 <td style="font-weight: bold; text-align:right">269,169</td>
 <td style="font-weight: bold; text-align:right">595</td>
 <td style="font-weight: bold; text-align:right">100,414,883</td>
 <td style="font-weight: bold; text-align:right">799,578</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/japan-population/">125,584,838</a> </td>
 <td data-continent="Asia" style="display:none">Asia</td>
 <!-- 1 Case/Death/Test every X -->
 <td>4</td><td>1,681</td><td>1</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">95,582</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">8</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/italy/">Italy</a></td>
 <td style="font-weight: bold; text-align:right">26,591,441</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">194,489                                </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">26,162,862</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">234,090</td>
 <td style="font-weight: bold; text-align:right">240</td>
 <td style="font-weight: bold; text-align:right">441,258</td>
 <td style="font-weight: bold; text-align:right">3,227</td>
 <td style="font-weight: bold; text-align:right">278,771,518</td>
 <td style="font-weight: bold; text-align:right">4,625,933</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/italy-population/">60,262,770</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 <!-- 1 Case/Death/Test every X -->
 <td>2</td><td>310</td><td>0</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">3,884</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">10</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/russia/">Russia</a></td>
 <td style="font-weight: bold; text-align:right">23,713,738</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">401,214                                </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">23,068,286</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">244,238</td>
 <td style="font-weight: bold; text-align:right">N/A</td>
 <td style="font-weight: bold; text-align:right">162,639</td>
 <td style="font-weight: bold; text-align:right">2,752</td>
 <td style="font-weight: bold; text-align:right">273,400,000</td>
 <td style="font-weight: bold; text-align:right">1,875,095</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/russia-population/">145,805,947</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 <!-- 1 Case/Death/Test every X -->
 <td>6</td><td>363</td><td>1</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">1,675</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">11</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/turkey/">Turkey</a></td>
 <td style="font-weight: bold; text-align:right">17,232,066</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">102,174                                </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">N/A</td>
 <td style="font-weight: bold; text-align:right;">N/A</td>
 <td style="text-align:right;font-weight:bold;">N/A</td>
 <td style="font-weight: bold; text-align:right">N/A</td>
 <td style="font-weight: bold; text-align:right">201,399</td>
 <td style="font-weight: bold; text-align:right">1,194</td>
 <td style="font-weight: bold; text-align:right">162,743,369</td>
 <td style="font-weight: bold; text-align:right">1,902,052</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/turkey-population/">85,561,976</a> </td>
 <td data-continent="Asia" style="display:none">Asia</td>
 <!-- 1 Case/Death/Test every X -->
 <td>5</td><td>837</td><td>1</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">4,024</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">12</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/spain/">Spain</a></td>
 <td style="font-weight: bold; text-align:right">13,914,811</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">121,760                                </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">13,762,417</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">30,634</td>
 <td style="font-weight: bold; text-align:right">231</td>
 <td style="font-weight: bold; text-align:right">297,840</td>
 <td style="font-weight: bold; text-align:right">2,606</td>
 <td style="font-weight: bold; text-align:right">471,036,328</td>
 <td style="font-weight: bold; text-align:right">10,082,298</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/spain-population/">46,719,142</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 <!-- 1 Case/Death/Test every X -->
 <td>3</td><td>384</td><td>0</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">656</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">13</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/australia/">Australia</a></td>
 <td style="font-weight: bold; text-align:right">11,742,512</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+1,747</td>
 <td style="font-weight: bold; text-align:right;">23,808                                </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">N/A</td>
 <td style="font-weight: bold; text-align:right;">N/A</td>
 <td style="text-align:right;font-weight:bold;">N/A</td>
 <td style="font-weight: bold; text-align:right">22</td>
 <td style="font-weight: bold; text-align:right">450,443</td>
 <td style="font-weight: bold; text-align:right">913</td>
 <td style="font-weight: bold; text-align:right">81,916,639</td>
 <td style="font-weight: bold; text-align:right">3,142,326</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/australia-population/">26,068,792</a> </td>
 <td data-continent="Australia/Oceania" style="display:none">Australia/Oceania</td>
 <!-- 1 Case/Death/Test every X -->
 <td>2</td><td>1,095</td><td>0</td>
 <td style="font-weight: bold; text-align:right">67</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">1,808</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">14</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/viet-nam/">Vietnam</a></td>
 <td style="font-weight: bold; text-align:right">11,624,114</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">43,206                                </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">10,640,971</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">939,937</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">117,470</td>
 <td style="font-weight: bold; text-align:right">437</td>
 <td style="font-weight: bold; text-align:right">85,826,548</td>
 <td style="font-weight: bold; text-align:right">867,342</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/viet-nam-population/">98,953,541</a> </td>
 <td data-continent="Asia" style="display:none">Asia</td>
 <!-- 1 Case/Death/Test every X -->
 <td>9</td><td>2,290</td><td>1</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">9,499</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">17</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/netherlands/">Netherlands</a></td>
 <td style="font-weight: bold; text-align:right">8,623,210</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">22,992                                </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right"><span style="color:grey; font-style: italic;">8,597,059</span></td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">3,159</td>
 <td style="font-weight: bold; text-align:right">N/A</td>
 <td style="font-weight: bold; text-align:right">501,016</td>
 <td style="font-weight: bold; text-align:right">1,336</td>
 <td style="font-weight: bold; text-align:right">25,984,435</td>
 <td style="font-weight: bold; text-align:right">1,509,718</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/netherlands-population/">17,211,447</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 <!-- 1 Case/Death/Test every X -->
 <td>2</td><td>749</td><td>1</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">184</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">18</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/mexico/">Mexico</a></td>
 <td style="font-weight: bold; text-align:right">7,702,731</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">334,947                                </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">6,899,865</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">467,919</td>
 <td style="font-weight: bold; text-align:right">N/A</td>
 <td style="font-weight: bold; text-align:right">58,548</td>
 <td style="font-weight: bold; text-align:right">2,546</td>
 <td style="font-weight: bold; text-align:right">20,013,810</td>
 <td style="font-weight: bold; text-align:right">152,124</td>

attrs={'style': ""}: This is a dictionary specifying the attributes we want to match. In this case, we are looking for <tr> elements that have a style attribute with an empty value (i.e., no inline styling applied). It means we want to find plain <tr> elements with no specific style rules defined.

# 5. Extract all the rows

In [19]:
# Store the extracted data.
output = []

column_names = ['Country,Other', 'Total Cases', 'New Cases', 'Total Deaths',
               'New Deaths', 'Total Recovered', 'New Recovered',
               'Active Cases', 'Serious, Critical', 'Tot Cases/ 1M pop',
               'Deaths/ 1M pop', 'Total Tests', 'Tests/ 1M pop', 'Population']     
        
# Create a for loop statement. Skip the first column as its just the row number. 
for cases in rows:
    cases_data = cases.find_all("td")[1:]  # Start from the second column (index 1) to skip the row numbers.
    if cases_data:
        # Extract the text within each element.
        cases_text = [td.text for td in cases_data]
        output.append(dict(zip(column_names, cases_text)))
        
# Create an output.
output

[{'Country,Other': 'World',
  'Total Cases': '700,616,627',
  'New Cases': '+7,101',
  'Total Deaths': '6,961,860',
  'New Deaths': '+49',
  'Total Recovered': '671,780,174',
  'New Recovered': '+16,801',
  'Active Cases': '21,874,593',
  'Serious, Critical': '35,954',
  'Tot Cases/ 1M pop': '89,883',
  'Deaths/ 1M pop': '893.1',
  'Total Tests': '',
  'Tests/ 1M pop': '',
  'Population': ''},
 {'Country,Other': 'USA',
  'Total Cases': '110,082,490',
  'New Cases': '',
  'Total Deaths': '1,190,137                                ',
  'New Deaths': '',
  'Total Recovered': '107,858,128',
  'New Recovered': '',
  'Active Cases': '1,034,225',
  'Serious, Critical': '1,785',
  'Tot Cases/ 1M pop': '328,796',
  'Deaths/ 1M pop': '3,555',
  'Total Tests': '1,186,546,440',
  'Tests/ 1M pop': '3,543,990',
  'Population': '334,805,269 '},
 {'Country,Other': 'India',
  'Total Cases': '45,009,660',
  'New Cases': '',
  'Total Deaths': '533,337                                ',
  'New Deaths': '',
  'Total Recovered': 'N/A',
  'New Recovered': 'N/A',
  'Active Cases': 'N/A',
  'Serious, Critical': 'N/A',
  'Tot Cases/ 1M pop': '31,998',
  'Deaths/ 1M pop': '379',
  'Total Tests': '930,797,975',
  'Tests/ 1M pop': '661,721',
  'Population': '1,406,631,776 '},
 {'Country,Other': 'Germany',
  'Total Cases': '38,758,005',
  'New Cases': '',
  'Total Deaths': '179,937                                ',
  'New Deaths': '',
  'Total Recovered': '38,240,600',
  'New Recovered': '',
  'Active Cases': '337,468',
  'Serious, Critical': 'N/A',
  'Tot Cases/ 1M pop': '462,045',
  'Deaths/ 1M pop': '2,145',
  'Total Tests': '122,332,384',
  'Tests/ 1M pop': '1,458,359',
  'Population': '83,883,596 '},
 {'Country,Other': 'Brazil',
  'Total Cases': '38,177,375',
  'New Cases': '',
  'Total Deaths': '708,491                                ',
  'New Deaths': '',
  'Total Recovered': '36,249,161',
  'New Recovered': '',
  'Active Cases': '1,219,723',
  'Serious, Critical': 'N/A',
  'Tot Cases/ 1M pop': '177,278',
  'Deaths/ 1M pop': '3,290',
  'Total Tests': '63,776,166',
  'Tests/ 1M pop': '296,146',
  'Population': '215,353,593 '},
 {'Country,Other': 'Japan',
  'Total Cases': '33,803,572',
  'New Cases': '',
  'Total Deaths': '74,694                                ',
  'New Deaths': '',
  'Total Recovered': 'N/A',
  'New Recovered': 'N/A',
  'Active Cases': 'N/A',
  'Serious, Critical': 'N/A',
  'Tot Cases/ 1M pop': '269,169',
  'Deaths/ 1M pop': '595',
  'Total Tests': '100,414,883',
  'Tests/ 1M pop': '799,578',
  'Population': '125,584,838 '},
 {'Country,Other': 'Italy',
  'Total Cases': '26,591,441',
  'New Cases': '',
  'Total Deaths': '194,489                                ',
  'New Deaths': '',
  'Total Recovered': '26,162,862',
  'New Recovered': '',
  'Active Cases': '234,090',
  'Serious, Critical': '240',
  'Tot Cases/ 1M pop': '441,258',
  'Deaths/ 1M pop': '3,227',
  'Total Tests': '278,771,518',
  'Tests/ 1M pop': '4,625,933',
  'Population': '60,262,770 '},
 {'Country,Other': 'Russia',
  'Total Cases': '23,713,738',
  'New Cases': '',
  'Total Deaths': '401,214                                ',
  'New Deaths': '',
  'Total Recovered': '23,068,286',
  'New Recovered': '',
  'Active Cases': '244,238',
  'Serious, Critical': 'N/A',
  'Tot Cases/ 1M pop': '162,639',
  'Deaths/ 1M pop': '2,752',
  'Total Tests': '273,400,000',
  'Tests/ 1M pop': '1,875,095',
  'Population': '145,805,947 '},
 {'Country,Other': 'Turkey',
  'Total Cases': '17,232,066',
  'New Cases': '',
  'Total Deaths': '102,174                                ',
  'New Deaths': '',
  'Total Recovered': 'N/A',
  'New Recovered': 'N/A',
  'Active Cases': 'N/A',
  'Serious, Critical': 'N/A',
  'Tot Cases/ 1M pop': '201,399',
  'Deaths/ 1M pop': '1,194',
  'Total Tests': '162,743,369',
  'Tests/ 1M pop': '1,902,052',
  'Population': '85,561,976 '},
 {'Country,Other': 'Spain',
  'Total Cases': '13,914,811',
  'New Cases': '',
  'Total Deaths': '121,760                                ',
  'New Deaths': '',
  'Total Recovered': '13,762,417',
  'New Recovered': '',
  'Active Cases': '30,634',
  'Serious, Critical': '231',
  'Tot Cases/ 1M pop': '297,840',
  'Deaths/ 1M pop': '2,606',
  'Total Tests': '471,036,328',
  'Tests/ 1M pop': '10,082,298',
  'Population': '46,719,142 '},
 {'Country,Other': 'Australia',
  'Total Cases': '11,742,512',
  'New Cases': '+1,747',
  'Total Deaths': '23,808                                ',
  'New Deaths': '',
  'Total Recovered': 'N/A',
  'New Recovered': 'N/A',
  'Active Cases': 'N/A',
  'Serious, Critical': '22',
  'Tot Cases/ 1M pop': '450,443',
  'Deaths/ 1M pop': '913',
  'Total Tests': '81,916,639',
  'Tests/ 1M pop': '3,142,326',
  'Population': '26,068,792 '},
 {'Country,Other': 'Vietnam',
  'Total Cases': '11,624,114',
  'New Cases': '',
  'Total Deaths': '43,206                                ',
  'New Deaths': '',
  'Total Recovered': '10,640,971',
  'New Recovered': '',
  'Active Cases': '939,937',
  'Serious, Critical': '',
  'Tot Cases/ 1M pop': '117,470',
  'Deaths/ 1M pop': '437',
  'Total Tests': '85,826,548',
  'Tests/ 1M pop': '867,342',
  'Population': '98,953,541 '},
 {'Country,Other': 'Netherlands',
  'Total Cases': '8,623,210',
  'New Cases': '',
  'Total Deaths': '22,992                                ',
  'New Deaths': '',
  'Total Recovered': '8,597,059',
  'New Recovered': '',
  'Active Cases': '3,159',
  'Serious, Critical': 'N/A',
  'Tot Cases/ 1M pop': '501,016',
  'Deaths/ 1M pop': '1,336',
  'Total Tests': '25,984,435',
  'Tests/ 1M pop': '1,509,718',
  'Population': '17,211,447 '},
 {'Country,Other': 'Mexico',
  'Total Cases': '7,702,731',
  'New Cases': '',
  'Total Deaths': '334,947                                ',
  'New Deaths': '',
  'Total Recovered': '6,899,865',
  'New Recovered': '',
  'Active Cases': '467,919',
  'Serious, Critical': 'N/A',
  'Tot Cases/ 1M pop': '58,548',
  'Deaths/ 1M pop': '2,546',
  'Total Tests': '20,013,810',
  'Tests/ 1M pop': '152,124',
  'Population': '131,562,772 '},
 {'Country,Other': 'Iran',
  'Total Cases': '7,625,292',
  'New Cases': '',
  'Total Deaths': '146,751                                ',
  'New Deaths': '',
  'Total Recovered': 'N/A',
  'New Recovered': 'N/A',
  'Active Cases': 'N/A',
  'Serious, Critical': '',
  'Tot Cases/ 1M pop': '88,643',
  'Deaths/ 1M pop': '1,706',
  'Total Tests': '57,320,267',
  'Tests/ 1M pop': '666,338',
  'Population': '86,022,837 '},
 {'Country,Other': 'Indonesia',
  'Total Cases': '6,819,830',
  'New Cases': '',
  'Total Deaths': '161,954                                ',
  'New Deaths': '',
  'Total Recovered': '6,647,104',
  'New Recovered': '',
  'Active Cases': '10,772',
  'Serious, Critical': 'N/A',
  'Tot Cases/ 1M pop': '24,432',
  'Deaths/ 1M pop': '580',
  'Total Tests': '114,158,919',
  'Tests/ 1M pop': '408,975',
  'Population': '279,134,505 '},
 {'Country,Other': 'Poland',
  'Total Cases': '6,629,601',
  'New Cases': '+2,026',
  'Total Deaths': '120,210                                ',
  'New Deaths': '+30',
  'Total Recovered': 'N/A',
  'New Recovered': 'N/A',
  'Active Cases': 'N/A',
  'Serious, Critical': 'N/A',
  'Tot Cases/ 1M pop': '175,666',
  'Deaths/ 1M pop': '3,185',
  'Total Tests': '39,078,757',
  'Tests/ 1M pop': '1,035,479',
  'Population': '37,739,785 '},
 {'Country,Other': 'Colombia',
  'Total Cases': '6,386,157',
  'New Cases': '',
  'Total Deaths': '143,100                                ',
  'New Deaths': '',
  'Total Recovered': '6,206,196',
  'New Recovered': '',
  'Active Cases': '36,861',
  'Serious, Critical': '342',
  'Tot Cases/ 1M pop': '123,972',
  'Deaths/ 1M pop': '2,778',
  'Total Tests': '36,951,507',
  'Tests/ 1M pop': '717,327',
  'Population': '51,512,762 '},
 {'Country,Other': 'Austria',
  'Total Cases': '6,081,287',
  'New Cases': '',
  'Total Deaths': '22,542                                ',
  'New Deaths': '',
  'Total Recovered': '6,054,934',
  'New Recovered': '',
  'Active Cases': '3,811',
  'Serious, Critical': '',
  'Tot Cases/ 1M pop': '670,727',
  'Deaths/ 1M pop': '2,486',
  'Total Tests': '211,273,524',
  'Tests/ 1M pop': '23,302,116',
  'Population': '9,066,710 '},
 {'Country,Other': 'Portugal',
  'Total Cases': '5,635,112',
  'New Cases': '',
  'Total Deaths': '27,791                                ',
  'New Deaths': '',
  'Total Recovered': '5,605,552',
  'New Recovered': '',
  'Active Cases': '1,769',
  'Serious, Critical': '61',
  'Tot Cases/ 1M pop': '555,700',
  'Deaths/ 1M pop': '2,741',
  'Total Tests': '46,139,518',
  'Tests/ 1M pop': '4,549,993',
  'Population': '10,140,570 '},
 {'Country,Other': 'Chile',
  'Total Cases': '5,330,856',
  'New Cases': '',
  'Total Deaths': '64,497                                ',
  'New Deaths': '',
  'Total Recovered': '5,252,450',
  'New Recovered': '',
  'Active Cases': '13,909',
  'Serious, Critical': '7',
  'Tot Cases/ 1M pop': '276,925',
  'Deaths/ 1M pop': '3,350',
  'Total Tests': '50,382,097',
  'Tests/ 1M pop': '2,617,225',
  'Population': '19,250,195 '},
 {'Country,Other': 'Malaysia',
  'Total Cases': '5,180,812',
  'New Cases': '',
  'Total Deaths': '37,246                                ',
  'New Deaths': '',
  'Total Recovered': '5,115,191',
  'New Recovered': '',
  'Active Cases': '28,375',
  'Serious, Critical': '4',
  'Tot Cases/ 1M pop': '156,138',
  'Deaths/ 1M pop': '1,123',
  'Total Tests': '68,580,916',
  'Tests/ 1M pop': '2,066,869',
  'Population': '33,181,072 '},
 {'Country,Other': 'Canada',
  'Total Cases': '4,855,902',
  'New Cases': '',
  'Total Deaths': '56,787                                ',
  'New Deaths': '',
  'Total Recovered': '4,766,863',
  'New Recovered': '+1,603',
  'Active Cases': '32,252',
  'Serious, Critical': '99',
  'Tot Cases/ 1M pop': '126,494',
  'Deaths/ 1M pop': '1,479',
  'Total Tests': '66,525,130',
  'Tests/ 1M pop': '1,732,948',
  'Population': '38,388,419 '},
 {'Country,Other': 'Belgium',
  'Total Cases': '4,846,040',
  'New Cases': '',
  'Total Deaths': '34,376                                ',
  'New Deaths': '',
  'Total Recovered': '4,798,560',
  'New Recovered': '',
  'Active Cases': '13,104',
  'Serious, Critical': 'N/A',
  'Tot Cases/ 1M pop': '415,317',
  'Deaths/ 1M pop': '2,946',
  'Total Tests': '37,018,657',
  'Tests/ 1M pop': '3,172,590',
  'Population': '11,668,278 '},
 {'Country,Other': 'Israel',
  'Total Cases': '4,841,772',
  'New Cases': '',
  'Total Deaths': '12,707                                ',
  'New Deaths': '',
  'Total Recovered': '4,798,473',
  'New Recovered': '',
  'Active Cases': '30,592',
  'Serious, Critical': 'N/A',
  'Tot Cases/ 1M pop': '519,169',
  'Deaths/ 1M pop': '1,363',
  'Total Tests': '41,373,364',
  'Tests/ 1M pop': '4,436,346',
  'Population': '9,326,000 '},
 {'Country,Other': 'Thailand',
  'Total Cases': '4,761,781',
  'New Cases': '',
  'Total Deaths': '34,514                                ',
  'New Deaths': '',
  'Total Recovered': '4,692,636',
  'New Recovered': '',
  'Active Cases': '34,631',
  'Serious, Critical': 'N/A',
  'Tot Cases/ 1M pop': '67,950',
  'Deaths/ 1M pop': '493',
  'Total Tests': '17,270,775',
  'Tests/ 1M pop': '246,450',
  'Population': '70,078,203 '},
 {'Country,Other': 'Czechia',
  'Total Cases': '4,745,307',
  'New Cases': '+1,113',
  'Total Deaths': '43,316                                ',
  'New Deaths': '+5',
  'Total Recovered': '4,688,290',
  'New Recovered': '+3,541',
  'Active Cases': '13,701',
  'Serious, Critical': '50',
  'Tot Cases/ 1M pop': '441,967',
  'Deaths/ 1M pop': '4,034',
  'Total Tests': '57,605,020',
  'Tests/ 1M pop': '5,365,202',
  'Population': '10,736,784 '},
 {'Country,Other': 'Switzerland',
  'Total Cases': '4,439,992',
  'New Cases': '',
  'Total Deaths': '14,452                                ',
  'New Deaths': '',
  'Total Recovered': '4,418,085',
  'New Recovered': '',
  'Active Cases': '7,455',
  'Serious, Critical': 'N/A',
  'Tot Cases/ 1M pop': '506,061',
  'Deaths/ 1M pop': '1,647',
  'Total Tests': '23,833,472',
  'Tests/ 1M pop': '2,716,487',
  'Population': '8,773,637 '},
 {'Country,Other': 'Philippines',
  'Total Cases': '4,135,345',
  'New Cases': '+521',
  'Total Deaths': '66,813                                ',
  'New Deaths': '',
  'Total Recovered': '4,062,775',
  'New Recovered': '+524',
  'Active Cases': '5,757',
  'Serious, Critical': 'N/A',
  'Tot Cases/ 1M pop': '36,756',
  'Deaths/ 1M pop': '594',
  'Total Tests': '36,078,116',
  'Tests/ 1M pop': '320,669',
  'Population': '112,508,994 '},
 {'Country,Other': 'South Africa',
  'Total Cases': '4,076,463',
  'New Cases': '',
  'Total Deaths': '102,595                                ',
  'New Deaths': '',
  'Total Recovered': '3,912,506',
  'New Recovered': '',
  'Active Cases': '61,362',
  'Serious, Critical': '192',
  'Tot Cases/ 1M pop': '67,095',
  'Deaths/ 1M pop': '1,689',
  'Total Tests': '26,795,090',
  'Tests/ 1M pop': '441,027',
  'Population': '60,756,135 '},
 {'Country,Other': 'Romania',
  'Total Cases': '3,510,254',
  'New Cases': '',
  'Total Deaths': '68,703                                ',
  'New Deaths': '',
  'Total Recovered': '3,437,887',
  'New Recovered': '',
  'Active Cases': '3,664',
  'Serious, Critical': '31',
  'Tot Cases/ 1M pop': '184,446',
  'Deaths/ 1M pop': '3,610',
  'Total Tests': '28,421,552',
  'Tests/ 1M pop': '1,493,408',
  'Population': '19,031,335 '},
 {'Country,Other': 'Hong Kong',
  'Total Cases': '2,924,877',
  'New Cases': '+202',
  'Total Deaths': '14,367                                ',
  'New Deaths': '+3',
  'Total Recovered': '2,909,723',
  'New Recovered': '',
  'Active Cases': '787',
  'Serious, Critical': 'N/A',
  'Tot Cases/ 1M pop': '384,635',
  'Deaths/ 1M pop': '1,889',
  'Total Tests': '76,127,725',
  'Tests/ 1M pop': '10,011,143',
  'Population': '7,604,299 '},
 {'Country,Other': 'Sweden',
  'Total Cases': '2,745,098',
  'New Cases': '',
  'Total Deaths': '26,433                                ',
  'New Deaths': '',
  'Total Recovered': '2,710,947',
  'New Recovered': '+549',
  'Active Cases': '7,718',
  'Serious, Critical': 'N/A',
  'Tot Cases/ 1M pop': '268,628',
  'Deaths/ 1M pop': '2,587',
  'Total Tests': '19,500,873',
  'Tests/ 1M pop': '1,908,301',
  'Population': '10,218,971 '},
 {'Country,Other': 'Serbia',
  'Total Cases': '2,608,125',
  'New Cases': '',
  'Total Deaths': '18,057                                ',
  'New Deaths': '',
  'Total Recovered': '2,578,372',
  'New Recovered': '',
  'Active Cases': '11,696',
  'Serious, Critical': '',
  'Tot Cases/ 1M pop': '301,412',
  'Deaths/ 1M pop': '2,087',
  'Total Tests': '13,349,192',
  'Tests/ 1M pop': '1,542,721',
  'Population': '8,653,016 '},
 {'Country,Other': 'New Zealand',
  'Total Cases': '2,541,198',
  'New Cases': '',
  'Total Deaths': '5,251                                ',
  'New Deaths': '',
  'Total Recovered': '2,529,879',
  'New Recovered': '',
  'Active Cases': '6,068',
  'Serious, Critical': '',
  'Tot Cases/ 1M pop': '518,802',
  'Deaths/ 1M pop': '1,072',
  'Total Tests': '7,768,604',
  'Tests/ 1M pop': '1,586,011',
  'Population': '4,898,203 '},
 {'Country,Other': 'Iraq',
  'Total Cases': '2,465,545',
  'New Cases': '',
  'Total Deaths': '25,375                                ',
  'New Deaths': '',
  'Total Recovered': '2,439,497',
  'New Recovered': '',
  'Active Cases': '673',
  'Serious, Critical': '',
  'Tot Cases/ 1M pop': '58,474',
  'Deaths/ 1M pop': '602',
  'Total Tests': '19,544,451',
  'Tests/ 1M pop': '463,523',
  'Population': '42,164,965 '},
 {'Country,Other': 'Hungary',
  'Total Cases': '2,223,779',
  'New Cases': '',
  'Total Deaths': '48,896                                ',
  'New Deaths': '',
  'Total Recovered': '2,152,155',
  'New Recovered': '',
  'Active Cases': '22,728',
  'Serious, Critical': '',
  'Tot Cases/ 1M pop': '231,493',
  'Deaths/ 1M pop': '5,090',
  'Total Tests': '11,394,556',
  'Tests/ 1M pop': '1,186,160',
  'Population': '9,606,259 '},
 {'Country,Other': 'Bangladesh',
  'Total Cases': '2,046,207',
  'New Cases': '',
  'Total Deaths': '29,477                                ',
  'New Deaths': '',
  'Total Recovered': 'N/A',
  'New Recovered': 'N/A',
  'Active Cases': 'N/A',
  'Serious, Critical': 'N/A',
  'Tot Cases/ 1M pop': '12,188',
  'Deaths/ 1M pop': '176',
  'Total Tests': '15,254,399',
  'Tests/ 1M pop': '90,862',
  'Population': '167,885,689 '},
 {'Country,Other': 'Slovakia',
  'Total Cases': '1,872,391',
  'New Cases': '',
  'Total Deaths': '21,175                                ',
  'New Deaths': '',
  'Total Recovered': '1,848,482',
  'New Recovered': '',
  'Active Cases': '2,734',
  'Serious, Critical': '23',
  'Tot Cases/ 1M pop': '342,917',
  'Deaths/ 1M pop': '3,878',
  'Total Tests': '7,448,789',
  'Tests/ 1M pop': '1,364,199',
  'Population': '5,460,193 '},
 {'Country,Other': 'Georgia',
  'Total Cases': '1,855,289',
  'New Cases': '',
  'Total Deaths': '17,132                                ',
  'New Deaths': '',
  'Total Recovered': 'N/A',
  'New Recovered': 'N/A',
  'Active Cases': 'N/A',
  'Serious, Critical': '',
  'Tot Cases/ 1M pop': '467,476',
  'Deaths/ 1M pop': '4,317',
  'Total Tests': '16,920,079',
  'Tests/ 1M pop': '4,263,340',
  'Population': '3,968,738 '},
 {'Country,Other': 'Jordan',
  'Total Cases': '1,746,997',
  'New Cases': '',
  'Total Deaths': '14,122                                ',
  'New Deaths': '',
  'Total Recovered': '1,731,007',
  'New Recovered': '',
  'Active Cases': '1,868',
  'Serious, Critical': '59',
  'Tot Cases/ 1M pop': '169,597',
  'Deaths/ 1M pop': '1,371',
  'Total Tests': '17,201,885',
  'Tests/ 1M pop': '1,669,945',
  'Population': '10,300,869 '},
 {'Country,Other': 'Ireland',
  'Total Cases': '1,726,402',
  'New Cases': '',
  'Total Deaths': '9,376                                ',
  'New Deaths': '',
  'Total Recovered': '1,715,650',
  'New Recovered': '',
  'Active Cases': '1,376',
  'Serious, Critical': '19',
  'Tot Cases/ 1M pop': '343,891',
  'Deaths/ 1M pop': '1,868',
  'Total Tests': '13,083,449',
  'Tests/ 1M pop': '2,606,161',
  'Population': '5,020,199 '},
 {'Country,Other': 'Pakistan',
  'Total Cases': '1,581,936',
  'New Cases': '',
  'Total Deaths': '30,664                                ',
  'New Deaths': '',
  'Total Recovered': '1,538,689',
  'New Recovered': '',
  'Active Cases': '12,583',
  'Serious, Critical': '',
  'Tot Cases/ 1M pop': '6,893',
  'Deaths/ 1M pop': '134',
  'Total Tests': '30,589,153',
  'Tests/ 1M pop': '133,292',
  'Population': '229,488,994 '},
 {'Country,Other': 'Finland',
  'Total Cases': '1,511,701',
  'New Cases': '',
  'Total Deaths': '11,140                                ',
  'New Deaths': '',
  'Total Recovered': '1,496,470',
  'New Recovered': '+578',
  'Active Cases': '4,091',
  'Serious, Critical': 'N/A',
  'Tot Cases/ 1M pop': '272,135',
  'Deaths/ 1M pop': '2,005',
  'Total Tests': '12,108,977',
  'Tests/ 1M pop': '2,179,850',
  'Population': '5,554,960 '},
 {'Country,Other': 'Norway',
  'Total Cases': '1,506,475',
  'New Cases': '+196',
  'Total Deaths': '5,732                                ',
  'New Deaths': '',
  'Total Recovered': '1,497,513',
  'New Recovered': '+406',
  'Active Cases': '3,230',
  'Serious, Critical': 'N/A',
  'Tot Cases/ 1M pop': '273,339',
  'Deaths/ 1M pop': '1,040',
  'Total Tests': '11,002,430',
  'Tests/ 1M pop': '1,996,315',
  'Population': '5,511,370 '},
 {'Country,Other': 'Kazakhstan',
  'Total Cases': '1,411,831',
  'New Cases': '',
  'Total Deaths': '13,848                                ',
  'New Deaths': '',
  'Total Recovered': '1,383,020',
  'New Recovered': '',
  'Active Cases': '14,963',
  'Serious, Critical': '24',
  'Tot Cases/ 1M pop': '73,514',
  'Deaths/ 1M pop': '721',
  'Total Tests': '11,575,012',
  'Tests/ 1M pop': '602,707',
  'Population': '19,205,043 '},
 {'Country,Other': 'Lithuania',
  'Total Cases': '1,385,303',
  'New Cases': '+656',
  'Total Deaths': '9,852                                ',
  'New Deaths': '+4',
  'Total Recovered': '1,359,316',

# 6. Create a Pandas DataFrame

In [20]:
# import pandas 
import pandas as pd

# create a DataFrame
data = pd.DataFrame(output)
data.head()

,"Country,Other",Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,New Recovered,Active Cases,"Serious, Critical",Tot Cases/ 1M pop,Deaths/ 1M pop,Total Tests,Tests/ 1M pop,Population
0,World,"700,616,627","+7,101","6,961,860",+49,"671,780,174","+16,801","21,874,593","35,954","89,883",893.1,,,
1,USA,"110,082,490",,"1,190,137",,"107,858,128",,"1,034,225","1,785","328,796","3,555","1,186,546,440","3,543,990","334,805,269"
2,India,"45,009,660",,"533,337",,N/A,N/A,N/A,N/A,"31,998",379,"930,797,975","661,721","1,406,631,776"
3,Germany,"38,758,005",,"179,937",,"38,240,600",,"337,468",N/A,"462,045","2,145","122,332,384","1,458,359","83,883,596"
4,Brazil,"38,177,375",,"708,491",,"36,249,161",,"1,219,723",N/A,"177,278","3,290","63,776,166","296,146","215,353,593"

# Convert Clean and Analyse Data

In [21]:
# Save the DataFrame as a CSV file without index.
data.to_csv('cases.csv', index=False)

In [22]:
# Create a JSON file.
import json

# Create a JSON file.
output_json = json.dumps(output)

# View the output.
output_json

'[{"Country,Other": "World", "Total Cases": "700,616,627", "New Cases": "+7,101", "Total Deaths": "6,961,860", "New Deaths": "+49", "Total Recovered": "671,780,174", "New Recovered": "+16,801", "Active Cases": "21,874,593", "Serious, Critical": "35,954", "Tot Cases/ 1M pop": "89,883", "Deaths/ 1M pop": "893.1", "Total Tests": "", "Tests/ 1M pop": "", "Population": ""}, {"Country,Other": "USA", "Total Cases": "110,082,490", "New Cases": "", "Total Deaths": "1,190,137                                ", "New Deaths": "", "Total Recovered": "107,858,128", "New Recovered": "", "Active Cases": "1,034,225", "Serious, Critical": "1,785", "Tot Cases/ 1M pop": "328,796", "Deaths/ 1M pop": "3,555", "Total Tests": "1,186,546,440", "Tests/ 1M pop": "3,543,990", "Population": "334,805,269 "}, {"Country,Other": "India", "Total Cases": "45,009,660", "New Cases": "", "Total Deaths": "533,337                                ", "New Deaths": "", "Total Recovered": "N/A", "New Recovered": "N/A", "Active Cases": "N/A", "Serious, Critical": "N/A", "Tot Cases/ 1M pop": "31,998", "Deaths/ 1M pop": "379", "Total Tests": "930,797,975", "Tests/ 1M pop": "661,721", "Population": "1,406,631,776 "}, {"Country,Other": "Germany", "Total Cases": "38,758,005", "New Cases": "", "Total Deaths": "179,937                                ", "New Deaths": "", "Total Recovered": "38,240,600", "New Recovered": "", "Active Cases": "337,468", "Serious, Critical": "N/A", "Tot Cases/ 1M pop": "462,045", "Deaths/ 1M pop": "2,145", "Total Tests": "122,332,384", "Tests/ 1M pop": "1,458,359", "Population": "83,883,596 "}, {"Country,Other": "Brazil", "Total Cases": "38,177,375", "New Cases": "", "Total Deaths": "708,491                                ", "New Deaths": "", "Total Recovered": "36,249,161", "New Recovered": "", "Active Cases": "1,219,723", "Serious, Critical": "N/A", "Tot Cases/ 1M pop": "177,278", "Deaths/ 1M pop": "3,290", "Total Tests": "63,776,166", "Tests/ 1M pop": "296,146", "Population": "215,353,593 "}, {"Country,Other": "Japan", "Total Cases": "33,803,572", "New Cases": "", "Total Deaths": "74,694                                ", "New Deaths": "", "Total Recovered": "N/A", "New Recovered": "N/A", "Active Cases": "N/A", "Serious, Critical": "N/A", "Tot Cases/ 1M pop": "269,169", "Deaths/ 1M pop": "595", "Total Tests": "100,414,883", "Tests/ 1M pop": "799,578", "Population": "125,584,838 "}, {"Country,Other": "Italy", "Total Cases": "26,591,441", "New Cases": "", "Total Deaths": "194,489                                ", "New Deaths": "", "Total Recovered": "26,162,862", "New Recovered": "", "Active Cases": "234,090", "Serious, Critical": "240", "Tot Cases/ 1M pop": "441,258", "Deaths/ 1M pop": "3,227", "Total Tests": "278,771,518", "Tests/ 1M pop": "4,625,933", "Population": "60,262,770 "}, {"Country,Other": "Russia", "Total Cases": "23,713,738", "New Cases": "", "Total Deaths": "401,214                                ", "New Deaths": "", "Total Recovered": "23,068,286", "New Recovered": "", "Active Cases": "244,238", "Serious, Critical": "N/A", "Tot Cases/ 1M pop": "162,639", "Deaths/ 1M pop": "2,752", "Total Tests": "273,400,000", "Tests/ 1M pop": "1,875,095", "Population": "145,805,947 "}, {"Country,Other": "Turkey", "Total Cases": "17,232,066", "New Cases": "", "Total Deaths": "102,174                                ", "New Deaths": "", "Total Recovered": "N/A", "New Recovered": "N/A", "Active Cases": "N/A", "Serious, Critical": "N/A", "Tot Cases/ 1M pop": "201,399", "Deaths/ 1M pop": "1,194", "Total Tests": "162,743,369", "Tests/ 1M pop": "1,902,052", "Population": "85,561,976 "}, {"Country,Other": "Spain", "Total Cases": "13,914,811", "New Cases": "", "Total Deaths": "121,760                                ", "New Deaths": "", "Total Recovered": "13,762,417", "New Recovered": "", "Active Cases": "30,634", "Serious, Critical": "231", "Tot Cases/ 1M pop": "297,840", "Deaths/ 1M pop": "2,606", "Total Tests": "471,036,328", "Tests/ 1M pop": "10,082,298", "Population": "46,719,142 "}, {"Country,Other": "Australia", "Total Cases": "11,742,512", "New Cases": "+1,747", "Total Deaths": "23,808                                ", "New Deaths": "", "Total Recovered": "N/A", "New Recovered": "N/A", "Active Cases": "N/A", "Serious, Critical": "22", "Tot Cases/ 1M pop": "450,443", "Deaths/ 1M pop": "913", "Total Tests": "81,916,639", "Tests/ 1M pop": "3,142,326", "Population": "26,068,792 "}, {"Country,Other": "Vietnam", "Total Cases": "11,624,114", "New Cases": "", "Total Deaths": "43,206                                ", "New Deaths": "", "Total Recovered": "10,640,971", "New Recovered": "", "Active Cases": "939,937", "Serious, Critical": "", "Tot Cases/ 1M pop": "117,470", "Deaths/ 1M pop": "437", "Total Tests": "85,826,548", "Tests/ 1M pop": "867,342", "Population": "98,953,541 "}, {"Country,Other": "Netherlands", "Total Cases": "8,623,210", "New Cases": "", "Total Deaths": "22,992                                ", "New Deaths": "", "Total Recovered": "8,597,059", "New Recovered": "", "Active Cases": "3,159", "Serious, Critical": "N/A", "Tot Cases/ 1M pop": "501,016", "Deaths/ 1M pop": "1,336", "Total Tests": "25,984,435", "Tests/ 1M pop": "1,509,718", "Population": "17,211,447 "}, {"Country,Other": "Mexico", "Total Cases": "7,702,731", "New Cases": "", "Total Deaths": "334,947                                ", "New Deaths": "", "Total Recovered": "6,899,865", "New Recovered": "", "Active Cases": "467,919", "Serious, Critical": "N/A", "Tot Cases/ 1M pop": "58,548", "Deaths/ 1M pop": "2,546", "Total Tests": "20,013,810", "Tests/ 1M pop": "152,124", "Population": "131,562,772 "}, {"Country,Other": "Iran", "Total Cases": "7,625,292", "New Cases": "", "Total Deaths": "146,751                                ", "New Deaths": "", "Total Recovered": "N/A", "New Recovered": "N/A", "Active Cases": "N/A", "Serious, Critical": "", "Tot Cases/ 1M pop": "88,643", "Deaths/ 1M pop": "1,706", "Total Tests": "57,320,267", "Tests/ 1M pop": "666,338", "Population": "86,022,837 "}, {"Country,Other": "Indonesia", "Total Cases": "6,819,830", "New Cases": "", "Total Deaths": "161,954                                ", "New Deaths": "", "Total Recovered": "6,647,104", "New Recovered": "", "Active Cases": "10,772", "Serious, Critical": "N/A", "Tot Cases/ 1M pop": "24,432", "Deaths/ 1M pop": "580", "Total Tests": "114,158,919", "Tests/ 1M pop": "408,975", "Population": "279,134,505 "}, {"Country,Other": "Poland", "Total Cases": "6,629,601", "New Cases": "+2,026", "Total Deaths": "120,210                                ", "New Deaths": "+30", "Total Recovered": "N/A", "New Recovered": "N/A", "Active Cases": "N/A", "Serious, Critical": "N/A", "Tot Cases/ 1M pop": "175,666", "Deaths/ 1M pop": "3,185", "Total Tests": "39,078,757", "Tests/ 1M pop": "1,035,479", "Population": "37,739,785 "}, {"Country,Other": "Colombia", "Total Cases": "6,386,157", "New Cases": "", "Total Deaths": "143,100                                ", "New Deaths": "", "Total Recovered": "6,206,196", "New Recovered": "", "Active Cases": "36,861", "Serious, Critical": "342", "Tot Cases/ 1M pop": "123,972", "Deaths/ 1M pop": "2,778", "Total Tests": "36,951,507", "Tests/ 1M pop": "717,327", "Population": "51,512,762 "}, {"Country,Other": "Austria", "Total Cases": "6,081,287", "New Cases": "", "Total Deaths": "22,542                                ", "New Deaths": "", "Total Recovered": "6,054,934", "New Recovered": "", "Active Cases": "3,811", "Serious, Critical": "", "Tot Cases/ 1M pop": "670,727", "Deaths/ 1M pop": "2,486", "Total Tests": "211,273,524", "Tests/ 1M pop": "23,302,116", "Population": "9,066,710 "}, {"Country,Other": "Portugal", "Total Cases": "5,635,112", "New Cases": "", "Total Deaths": "27,791                                ", "New Deaths": "", "Total Recovered": "5,605,552", "New Recovered": "", "Active Cases": "1,769", "Serious, Critical": "61", "Tot Cases/ 1M pop": "555,700", "Deaths/ 1M pop": "2,741", "Total Tests": "46,139,518", "Tests/ 1M pop": "4,549,993", "Population": "10,140,570 "}, {"Country,Other": "Chile", "Total Cases": "5,330,856", "New Cases": "", "Total Deaths": "64,497                                ", "New Deaths": "", "Total Recovered": "5,252,450", "New Recovered": "", "Active Cases": "13,909", "Serious, Critical": "7", "Tot Cases/ 1M pop": "276,925", "Deaths/ 1M pop": "3,350", "Total Tests": "50,382,097", "Tests/ 1M pop": "2,617,225", "Population": "19,250,195 "}, {"Country,Other": "Malaysia", "Total Cases": "5,180,812", "New Cases": "", "Total Deaths": "37,246                                ", "New Deaths": "", "Total Recovered": "5,115,191", "New Recovered": "", "Active Cases": "28,375", "Serious, Critical": "4", "Tot Cases/ 1M pop": "156,138", "Deaths/ 1M pop": "1,123", "Total Tests": "68,580,916", "Tests/ 1M pop": "2,066,869", "Population": "33,181,072 "}, {"Country,Other": "Canada", "Total Cases": "4,855,902", "New Cases": "", "Total Deaths": "56,787                                ", "New Deaths": "", "Total Recovered": "4,766,863", "New Recovered": "+1,603", "Active Cases": "32,252", "Serious, Critical": "99", "Tot Cases/ 1M pop": "126,494", "Deaths/ 1M pop": "1,479", "Total Tests": "66,525,130", "Tests/ 1M pop": "1,732,948", "Population": "38,388,419 "}, {"Country,Other": "Belgium", "Total Cases": "4,846,040", "New Cases": "", "Total Deaths": "34,376                                ", "New Deaths": "", "Total Recovered": "4,798,560", "New Recovered": "", "Active Cases": "13,104", "Serious, Critical": "N/A", "Tot Cases/ 1M pop": "415,317", "Deaths/ 1M pop": "2,946", "Total Tests": "37,018,657", "Tests/ 1M pop": "3,172,590", "Population": "11,668,278 "}, {"Country,Other": "Israel", "Total Cases": "4,841,772", "New Cases": "", "Total Deaths": "12,707                                ", "New Deaths": "", "Total Recovered": "4,798,473", "New Recovered": "", "Active Cases": "30,592", "Serious, Critical": "N/A", "Tot Cases/ 1M pop": "519,169", "Deaths/ 1M pop": "1,363", "Total Tests": "41,373,364", "Tests/ 1M pop": "4,436,346", "Population": "9,326,000 "}, {"Country,Other": "Thailand", "Total Cases": "4,761,781", "New Cases": "", "Total Deaths": "34,514                                ", "New Deaths": "", "Total Recovered": "4,692,636", "New Recovered": "", "Active Cases": "34,631", "Serious, Critical": "N/A", "Tot Cases/ 1M pop": "67,950", "Deaths/ 1M pop": "493", "Total Tests": "17,270,775", "Tests/ 1M pop": "246,450", "Population": "70,078,203 "}, {"Country,Other": "Czechia", "Total Cases": "4,745,307", "New Cases": "+1,113", "Total Deaths": "43,316                                ", "New Deaths": "+5", "Total Recovered": "4,688,290", "New Recovered": "+3,541", "Active Cases": "13,701", "Serious, Critical": "50", "Tot Cases/ 1M pop": "441,967", "Deaths/ 1M pop": "4,034", "Total Tests": "57,605,020", "Tests/ 1M pop": "5,365,202", "Population": "10,736,784 "}, {"Country,Other": "Switzerland", "Total Cases": "4,439,992", "New Cases": "", "Total Deaths": "14,452                                ", "New Deaths": "", "Total Recovered": "4,418,085", "New Recovered": "", "Active Cases": "7,455", "Serious, Critical": "N/A", "Tot Cases/ 1M pop": "506,061", "Deaths/ 1M pop": "1,647", "Total Tests": "23,833,472", "Tests/ 1M pop": "2,716,487", "Population": "8,773,637 "}, {"Country,Other": "Philippines", "Total Cases": "4,135,345", "New Cases": "+521", "Total Deaths": "66,813                                ", "New Deaths": "", "Total Recovered": "4,062,775", "New Recovered": "+524", "Active Cases": "5,757", "Serious, Critical": "N/A", "Tot Cases/ 1M pop": "36,756", "Deaths/ 1M pop": "594", "Total Tests": "36,078,116", "Tests/ 1M pop": "320,669", "Population": "112,508,994 "}, {"Country,Other": "South Africa", "Total Cases": "4,076,463", "New Cases": "", "Total Deaths": "102,595                                ", "New Deaths": "", "Total Recovered": "3,912,506", "New Recovered": "", "Active Cases": "61,362", "Serious, Critical": "192", "Tot Cases/ 1M pop": "67,095", "Deaths/ 1M pop": "1,689", "Total Tests": "26,795,090", "Tests/ 1M pop": "441,027", "Population": "60,756,135 "}, {"Country,Other": "Romania", "Total Cases": "3,510,254", "New Cases": "", "Total Deaths": "68,703                                ", "New Deaths": "", "Total Recovered": "3,437,887", "New Recovered": "", "Active Cases": "3,664", "Serious, Critical": "31", "Tot Cases/ 1M pop": "184,446", "Deaths/ 1M pop": "3,610", "Total Tests": "28,421,552", "Tests/ 1M pop": "1,493,408", "Population": "19,031,335 "}, {"Country,Other": "Hong Kong", "Total Cases": "2,924,877", "New Cases": "+202", "Total Deaths": "14,367                                ", "New Deaths": "+3", "Total Recovered": "2,909,723", "New Recovered": "", "Active Cases": "787", "Serious, Critical": "N/A", "Tot Cases/ 1M pop": "384,635", "Deaths/ 1M pop": "1,889", "Total Tests": "76,127,725", "Tests/ 1M pop": "10,011,143", "Population": "7,604,299 "}, {"Country,Other": "Sweden", "Total Cases": "2,745,098", "New Cases": "", "Total Deaths": "26,433                                ", "New Deaths": "", "Total Recovered": "2,710,947", "New Recovered": "+549", "Active Cases": "7,718", "Serious, Critical": "N/A", "Tot Cases/ 1M pop": "268,628", "Deaths/ 1M pop": "2,587", "Total Tests": "19,500,873", "Tests/ 1M pop": "1,908,301", "Population": "10,218,971 "}, {"Country,Other": "Serbia", "Total Cases": "2,608,125", "New Cases": "", "Total Deaths": "18,057                                ", "New Deaths": "", "Total Recovered": "2,578,372", "New Recovered": "", "Active Cases": "11,696", "Serious, Critical": "", "Tot Cases/ 1M pop": "301,412", "Deaths/ 1M pop": "2,087", "Total Tests": "13,349,192", "Tests/ 1M pop": "1,542,721", "Population": "8,653,016 "}, {"Country,Other": "New Zealand", "Total Cases": "2,541,198", "New Cases": "", "Total Deaths": "5,251                                ", "New Deaths": "", "Total Recovered": "2,529,879", "New Recovered": "", "Active Cases": "6,068", "Serious, Critical": "", "Tot Cases/ 1M pop": "518,802", "Deaths/ 1M pop": "1,072", "Total Tests": "7,768,604", "Tests/ 1M pop": "1,586,011", "Population": "4,898,203 "}, {"Country,Other": "Iraq", "Total Cases": "2,465,545", "New Cases": "", "Total Deaths": "25,375                                ", "New Deaths": "", "Total Recovered": "2,439,497", "New Recovered": "", "Active Cases": "673", "Serious, Critical": "", "Tot Cases/ 1M pop": "58,474", "Deaths/ 1M pop": "602", "Total Tests": "19,544,451", "Tests/ 1M pop": "463,523", "Population": "42,164,965 "}, {"Country,Other": "Hungary", "Total Cases": "2,223,779", "New Cases": "", "Total Deaths": "48,896                                ", "New Deaths": "", "Total Recovered": "2,152,155", "New Recovered": "", "Active Cases": "22,728", "Serious, Critical": "", "Tot Cases/ 1M pop": "231,493", "Deaths/ 1M pop": "5,090", "Total Tests": "11,394,556", "Tests/ 1M pop": "1,186,160", "Population": "9,606,259 "}, {"Country,Other": "Bangladesh", "Total Cases": "2,046,207", "New Cases": "", "Total Deaths": "29,477                                ", "New Deaths": "", "Total Recovered": "N/A", "New Recovered": "N/A", "Active Cases": "N/A", "Serious, Critical": "N/A", "Tot Cases/ 1M pop": "12,188", "Deaths/ 1M pop": "176", "Total Tests": "15,254,399", "Tests/ 1M pop": "90,862", "Population": "167,885,689 "}, {"Country,Other": "Slovakia", "Total Cases": "1,872,391", "New Cases": "", "Total Deaths": "21,175                                ", "New Deaths": "", "Total Recovered": "1,848,482", "New Recovered": "", "Active Cases": "2,734", "Serious, Critical": "23", "Tot Cases/ 1M pop": "342,917", "Deaths/ 1M pop": "3,878", "Total Tests": "7,448,789", "Tests/ 1M pop": "1,364,199", "Population": "5,460,193 "}, {"Country,Other": "Georgia", "Total Cases": "1,855,289", "New Cases": "", "Total Deaths": "17,132                                ", "New Deaths": "", "Total Recovered": "N/A", "New Recovered": "N/A", "Active Cases": "N/A", "Serious, Critical": "", "Tot Cases/ 1M pop": "467,476", "Deaths/ 1M pop": "4,317", "Total Tests": "16,920,079", "Tests/ 1M pop": "4,263,340", "Population": "3,968,738 "}, {"Country,Other": "Jordan", "Total Cases": "1,746,997", "New Cases": "", "Total Deaths": "14,122                                ", "New Deaths": "", "Total Recovered": "1,731,007", "New Recovered": "", "Active Cases": "1,868", "Serious, Critical": "59", "Tot Cases/ 1M pop": "169,597", "Deaths/ 1M pop": "1,371", "Total Tests": "17,201,885", "Tests/ 1M pop": "1,669,945", "Population": "10,300,869 "}, {"Country,Other": "Ireland", "Total Cases": "1,726,402", "New Cases": "", "Total Deaths": "9,376                                ", "New Deaths": "", "Total Recovered": "1,715,650", "New Recovered": "", "Active Cases": "1,376", "Serious, Critical": "19", "Tot Cases/ 1M pop": "343,891", "Deaths/ 1M pop": "1,868", "Total Tests": "13,083,449", "Tests/ 1M pop": "2,606,161", "Population": "5,020,199 "}, {"Country,Other": "Pakistan", "Total Cases": "1,581,936", "New Cases": "", "Total Deaths": "30,664                                ", "New Deaths": "", "Total Recovered": "1,538,689", "New Recovered": "", "Active Cases": "12,583", "Serious, Critical": "", "Tot Cases/ 1M pop": "6,893", "Deaths/ 1M pop": "134", "Total Tests": "30,589,153", "Tests/ 1M pop": "133,292", "Population": "229,488,994 "}, {"Country,Other": "Finland", "Total Cases": "1,511,701", "New Cases": "", "Total Deaths": "11,140                                ", "New Deaths": "", "Total Recovered": "1,496,470", "New Recovered": "+578", "Active Cases": "4,091", "Serious, Critical": "N/A", "Tot Cases/ 1M pop": "272,135", "Deaths/ 1M pop": "2,005", "Total Tests": "12,108,977", "Tests/ 1M pop": "2,179,850", "Population": "5,554,960 "}, {"Country,Other": "Norway", "Total Cases": "1,506,475", "New Cases": "+196", "Total Deaths": "5,732                                ", "New Deaths": "", "Total Recovered": "1,497,513", "New Recovered": "+406", "Active Cases": "3,230", "Serious, Critical": "N/A", "Tot Cases/ 1M pop": "273,339", "Deaths/ 1M pop": "1,040", "Total Tests": "11,002,430", "Tests/ 1M pop": "1,996,315", "Population": "5,511,370 "}, {"Country,Other": "Kazakhstan", "Total Cases": "1,411,831", "New Cases": "", "Total Deaths": "13,848                                ", "New Deaths": "", "Total Recovered": "1,383,020", "New Recovered": "", "Active Cases": "14,963", "Serious, Critical": "24", "Tot Cases/ 1M pop": "73,514", "Deaths/ 1M pop": "721", "Total Tests": "11,575,012", "Tests/ 1M pop": "602,707", "Population": "19,205,043 "}, {"Country,Other": "Lithuania", "Total Cases": "1,385,303", "New Cases": "+656", "Total Deaths": "9,852                                ", "New Deaths": "+4", "Total Recovered": "1,359,316", "New Recovered": "+1,247", "Active Cases": "16,135", "Serious, Critical": "N/A", "Tot Cases/ 1M pop": "520,456", "Deaths/ 1M pop": "3,701", "Total Tests": "10,540,357", "Tests/ 1M pop": "3,959,997", "Population": "2,661,708 "}, {"Country,Other": "Slovenia", "Total Cases": "1,354,769", "New Cases": "+117", "Total Deaths": "7,100                                ", "New Deaths": "", "Total Recovered": "1,346,120", "New Recovered": "+198", "Active Cases": "1,549", "Serious, Critical": "N/A", "Tot Cases/ 1M pop": "651,947", "Deaths/ 1M pop": "3,417", "Total Tests": "2,847,701", "Tests/ 1M pop": "1,370,382", "Population": "2,078,034 "}, {"Country,Other": "Bulgaria", "Total Cases": "1,333,863", "New Cases": "+410", "Total Deaths": "38,673                                ", "New Deaths": "+5", "Total Recovered": "1,289,949", "New Recovered": "+127", "Active Cases": "5,241", "Serious, Critical": "31", "Tot Cases/ 1M pop": "194,878", "Deaths/ 1M pop": "5,650", "Total Tests": "11,527,417", "Tests/ 1M pop": "1,684,163", "Population": "6,844,597 "}, {"Country,Other": "Guatemala", "Total Cases": "1,280,858", "New Cases": "", "Total Deaths": "20,272                                ", "New Deaths": "", "Total Recovered": "1,259,965", "New Recovered": ""

In [23]:
# Save the JSON file to .json.
with open('cases_json.json', 'w') as f:
    json.dump(output, f)

In [24]:
# Read the JSON using Pandas, output to .csv.
pd.read_json(output_json).to_csv('cases_csv.csv', index=False)

In [25]:
# Import and read the CSV file.
data_csv = pd.read_csv('cases_csv.csv')

# View the data.
print(data_csv.head())

# Import and read the JSON file.
data_json = pd.read_json('cases_json.json')

# View the DataFrame. 
data_json.head()

  Country,Other  Total Cases New Cases  \
0         World  700,616,627    +7,101
1           USA  110,082,490       NaN
2         India   45,009,660       NaN
3       Germany   38,758,005       NaN
4        Brazil   38,177,375       NaN

                                Total Deaths  New Deaths Total Recovered  \
0                                  6,961,860        49.0     671,780,174
1  1,190,137                                         NaN     107,858,128
2    533,337                                         NaN             NaN
3    179,937                                         NaN      38,240,600
4    708,491                                         NaN      36,249,161

  New Recovered Active Cases Serious, Critical Tot Cases/ 1M pop  \
0       +16,801   21,874,593            35,954            89,883
1           NaN    1,034,225             1,785           328,796
2           NaN          NaN               NaN            31,998
3           NaN      337,468               NaN           462,045
4           NaN    1,219,723               NaN           177,278

  Deaths/ 1M pop    Total Tests Tests/ 1M pop      Population
0          893.1            NaN           NaN             NaN
1          3,555  1,186,546,440     3,543,990    334,805,269
2            379    930,797,975       661,721  1,406,631,776
3          2,145    122,332,384     1,458,359     83,883,596
4          3,290     63,776,166       296,146    215,353,593

,"Country,Other",Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,New Recovered,Active Cases,"Serious, Critical",Tot Cases/ 1M pop,Deaths/ 1M pop,Total Tests,Tests/ 1M pop,Population
0,World,"700,616,627","+7,101","6,961,860",+49,"671,780,174","+16,801","21,874,593","35,954","89,883",893.1,,,
1,USA,"110,082,490",,"1,190,137",,"107,858,128",,"1,034,225","1,785","328,796","3,555","1,186,546,440","3,543,990","334,805,269"
2,India,"45,009,660",,"533,337",,N/A,N/A,N/A,N/A,"31,998",379,"930,797,975","661,721","1,406,631,776"
3,Germany,"38,758,005",,"179,937",,"38,240,600",,"337,468",N/A,"462,045","2,145","122,332,384","1,458,359","83,883,596"
4,Brazil,"38,177,375",,"708,491",,"36,249,161",,"1,219,723",N/A,"177,278","3,290","63,776,166","296,146","215,353,593"

In [26]:
# View the CSV and JSON DataFrames.
print(data_csv.dtypes)
print(data_csv.columns)

print(data_json.dtypes)
print(data_json.columns)

Country,Other         object
Total Cases           object
New Cases             object
Total Deaths          object
New Deaths           float64
Total Recovered       object
New Recovered         object
Active Cases          object
Serious, Critical     object
Tot Cases/ 1M pop     object
Deaths/ 1M pop        object
Total Tests           object
Tests/ 1M pop         object
Population            object
dtype: object
Index(['Country,Other', 'Total Cases', 'New Cases', 'Total Deaths',
       'New Deaths', 'Total Recovered', 'New Recovered', 'Active Cases',
       'Serious, Critical', 'Tot Cases/ 1M pop', 'Deaths/ 1M pop',
       'Total Tests', 'Tests/ 1M pop', 'Population'],
      dtype='object')
Country,Other        object
Total Cases          object
New Cases            object
Total Deaths         object
New Deaths           object
Total Recovered      object
New Recovered        object
Active Cases         object
Serious, Critical    object
Tot Cases/ 1M pop    object
Deaths/ 1M pop       object
Total Tests          object
Tests/ 1M pop        object
Population           object
dtype: object
Index(['Country,Other', 'Total Cases', 'New Cases', 'Total Deaths',
       'New Deaths', 'Total Recovered', 'New Recovered', 'Active Cases',
       'Serious, Critical', 'Tot Cases/ 1M pop', 'Deaths/ 1M pop',
       'Total Tests', 'Tests/ 1M pop', 'Population'],
      dtype='object')

### Create a subset consisting of the columns Country,Other, Total Cases, Total Deaths, Total Recovered, Active Cases, Serious, and Critical.

In [27]:
# Create a subset.
data_report = data_csv[['Country,Other', 'Total Cases', 'Total Deaths',
                        'Total Recovered', 'Active Cases', 'Serious, Critical']]

# View the column names.
print(data_report.columns)
data_report

Index(['Country,Other', 'Total Cases', 'Total Deaths', 'Total Recovered',
       'Active Cases', 'Serious, Critical'],
      dtype='object')

,"Country,Other",Total Cases,Total Deaths,Total Recovered,Active Cases,"Serious, Critical"
0,World,"700,616,627","6,961,860","671,780,174","21,874,593","35,954"
1,USA,"110,082,490","1,190,137","107,858,128","1,034,225","1,785"
2,India,"45,009,660","533,337",NaN,NaN,NaN
3,Germany,"38,758,005","179,937","38,240,600","337,468",NaN
4,Brazil,"38,177,375","708,491","36,249,161","1,219,723",NaN
...,...,...,...,...,...,...
201,Montserrat,"1,403",8,"1,376",19,NaN
202,Niue,937,,919,18,NaN
203,Tokelau,80,,NaN,80,NaN
204,China,"503,302","5,272","379,053","118,977",NaN
205,Total:,"700,616,627","6,961,860","671,780,174","21,874,593","35,954"

In [28]:
# Determine missing values.
data_report.isnull().sum()

Country,Other          0
Total Cases            0
Total Deaths           0
Total Recovered       48
Active Cases          47
Serious, Critical    154
dtype: int64

In [29]:
# Save the DataFrame as a CSV file without index.
data_report.to_csv('cases_report.csv', index=False)

In [30]:
# View the saved CSV.
cases_report = pd.read_csv('cases_report.csv')

# View the DataFrame.
cases_report.head()

,"Country,Other",Total Cases,Total Deaths,Total Recovered,Active Cases,"Serious, Critical"
0,World,"700,616,627","6,961,860","671,780,174","21,874,593","35,954"
1,USA,"110,082,490","1,190,137","107,858,128","1,034,225","1,785"
2,India,"45,009,660","533,337",NaN,NaN,NaN
3,Germany,"38,758,005","179,937","38,240,600","337,468",NaN
4,Brazil,"38,177,375","708,491","36,249,161","1,219,723",NaN